@import "tailwindcss";

@theme {
    --color-primary: black;
    --color-secondary: #D22B2B;
    --color-text-primary: white;
    --font-primary:"PT Sans", sans-serif;
    --text-size-2: 2.25rem; 
    --text-size-3: 1rem;
    --font-weight-2: 400;
    --font-weight-3: 700;  
}
